/* @font-face {
    font-family: alarmNormal;
    src: url(./fonts/DS-DIGI.TTF);
}

@font-face {
    font-family: alarmBold;
    src: url(./fonts/DS-DIGIB.TTF);
}

@font-face {
    font-family: alarmBlack;
    src: url(./fonts/DS-DIGIT.TTF);
} */


/* .contents {
    height: 100vh;
    width: 70%;
    min-width: 1000px;
    position: relative;
    margin: auto;
} */

#myCanvas {
    position: absolute;
    top: 0px;
    font-family: realist, sans-serif;
}

#mySvg {
    position: absolute;
    top: 10%;
    font-family: realist, sans-serif;
    display: none;
}


/* body {
    background-color: #0B0B0B;
    font-size: 30px;
} */

.yearbtn {
    border: solid #226527 2px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #133a16;
    filter: blur(1px);
    margin: auto;
    margin-top: 10%;
}


/* .player {
    position: fixed;
    bottom: 10%;
    color: #ffffff;
    width: 70%;
    min-width: 1000px;
    height: 50px;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    font-size: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: realist, sans-serif;
    opacity: 1
} */


/* .icon {
    fill: #F74F4F
} */


/* .status {
    width: 100%;
    text-align: start
} */


/* .iconname {
    width: 100%;
    text-align: center;
    opacity: 0.8
} */


/* .playingobj {
    font-family: alarmNormal;
    font-size: 15px;
    margin-top: 10px;
    opacity: 0.7;
    background-color: #194e1d81;
    padding: 5px 0px;
    width: 300px;
    animation: blinker infinite 1s
} */


/* .iconcontainer {
    margin-top: 10px;
    display: block;
    width: 30%;
    opacity: 0.8
} */


/* .eject {
    fill: #ffffff;
} */


/* .crossbar {
    position: fixed;
    width: 100%;
    height: 2px;
    background-color: #4FF75C;
    bottom: 60%;
    opacity: 0.7;
} */

.switch {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #4a4b4a81;
    filter: blur(1px);
    margin: auto;
    margin-bottom: 10%;
    cursor: pointer;
}

.yearbtnselected {
    background-color: #41c94c;
    filter: blur(2px)
}

.switchselected {
    background-color: #F74F4F;
    filter: blur(2px)
}


/* @keyframes blinker {
    50% {
        opacity: 0.3;
    }
} */

.canvasDesc {
    position: absolute;
    width: 30%;
    height: 80%;
    right: 0%;
    top: 10%;
}

.canvasDesc {
    color: #EBEBEB;
    font-family: realist;
    font-size: 24px;
    font-weight: 200;
}

.canvasDescTitle {
    margin-top: 15%;
    font-weight: 200;
}

.canvasDescSub {
    margin-top: 10%;
    font-size: 12px;
    font-weight: 100;
}

.disLegend {
    width: 100%;
}

.top10 {
    color: #EBEBEB;
    position: absolute;
    font-family: realist;
    font-weight: 100;
    font-size: 15px;
    width: 30%;
    height: 80%;
    right: 0%;
    top: 60%;
}

.top10Desc {
    width: 100%;
}

.top10wordsbox {
    font-family: alarmNormal;
    color: #4FF75C;
    font-size: 12px;
    width: 100%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: 30px 30px;
    grid-auto-flow: column;
}

.tenwords {
    opacity: 0.4;
    height: 15px;
    width: 80%;
    cursor: pointer;
}

.tenwordsSelected {
    border-bottom: solid 1px yellow;
    opacity: 1;
}

.coverXaxis,
.coverYaxis {
    stroke: #EBEBEB;
    stroke-width: 0.5px;
}

.coverYaxis>.domain,
.coverXaxis>.domain {
    stroke: #EBEBEB;
    stroke-width: 0.3px;
}

.tick>text {
    color: #EBEBEB
}


/* .coverYaxis>.domain {
    fill: #EBEBEB;
    stroke-width: 0.5px;
} */

line {
    stroke: #EBEBEB;
}

.coverline {
    stroke: #4FF75C;
    stroke-width: 0.5px;
}

.Ygrid,
.Xgrid {
    stroke-width: 0.2px;
    stroke-dasharray: 1px;
}

.WordChosen {
    fill: #F74F4F;
    font-size: 12px;
}

.WordCovered {
    fill: #F74F4F;
    font-size: 12px;
}